* {
    font-family: 'Times New Roman', Times, serif;
}

body {
}

h1 {
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight:bold;
}

p {
    font-size: 16px;
}

.box {
    display: inline-block;
    padding: 7px;
    border: 1px solid #1e1e1e;
}

.sortBtn{
    padding: 5px;
    font-size: 20px;
}

#bogo { 

}

.center {
    display: flex;
    flex-direction: column;
    background-color: rgb(126, 169, 243);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-left: 10px;
}

