* {
    font-family: "Roboto";
}


h1 {
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight:bold;
}

p {
    font-size: 16px;
}

p ~ p {
    margin-top: 0px;
}

.box {
    display: inline-block;
    padding: 10px;
    border: 1px solid #1e1e1e;
    font-weight: bold;
}

.sortBtn{
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
}

.sortBtn:hover{
    background-color: #e23111;
}

.arrSortedBtn:hover{
    background-color: green;
}


.center {
    display: flex;
    flex-direction: column;
    background-color:lightblue;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-left: 10px;
}

